# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/assets/icons/687.png
src/assets/icons/avatar.png
src/assets/icons/before.avif
src/assets/icons/bgselect1.jpg
src/assets/icons/bgselect2.jpg
src/assets/icons/bgselect3.png
src/assets/icons/bgselect4.png
src/assets/icons/boom1.png
src/assets/icons/boom2.png
src/assets/icons/boom3.png
src/assets/icons/cdalao.avif
src/assets/icons/dollar.png
src/assets/icons/ezback.png
src/assets/icons/ezbg.mp4
src/assets/icons/flower1.png
src/assets/icons/flower2.png
src/assets/icons/hardbg.mp4
src/assets/icons/hdback.png
src/assets/icons/hp.png
src/assets/icons/keli.png
src/assets/icons/login_background.png
src/assets/icons/menjiang.png
src/assets/icons/op1.png
src/assets/icons/opex1.png
src/assets/icons/selectleft.jpg
src/assets/icons/target.png
src/assets/icons/abc/A.png
src/assets/icons/abc/AA.png
src/assets/icons/abc/AB.png
src/assets/icons/abc/AC.png
src/assets/icons/abc/AD.png
src/assets/icons/abc/B.png
src/assets/icons/abc/C.png
src/assets/icons/abc/D.png
src/assets/icons/abc/E.png
src/assets/icons/abc/F.png
src/assets/icons/abc/G.png
src/assets/icons/abc/H.png
src/assets/icons/abc/I.png
src/assets/icons/abc/J.png
src/assets/icons/abc/K.png
src/assets/icons/abc/L.png
src/assets/icons/abc/M.png
src/assets/icons/abc/N.png
src/assets/icons/abc/O.png
src/assets/icons/abc/P.png
src/assets/icons/abc/Q.png
src/assets/icons/abc/R.png
src/assets/icons/abc/S.png
src/assets/icons/abc/T.png
src/assets/icons/abc/U.png
src/assets/icons/abc/V.png
src/assets/icons/abc/W.png
src/assets/icons/abc/X.png
src/assets/icons/abc/Y.png
src/assets/icons/abc/Z.png
src/assets/music/陈致逸,HOYO-MiX - 风所爱之城 The City Favored By Wind.flac
src/assets/music/花玲,张安琪,沐霏 - 我不曾忘记.flac
src/assets/music/苏熠鸣 - 原神，启动（门酱版）.flac
src/assets/music/知更鸟,HOYO-MiX,Chevy - 希望有羽毛和翅膀.flac
src/assets/music/bg_select.flac
src/assets/music/bg1.flac
src/assets/music/Dreamssg - 原神登陆页面BGM.flac
src/assets/music/ez1.flac
src/assets/music/hd1.flac
src/assets/music/hellokeli.mp3
src/assets/music/right.mp3
src/assets/music/select.wav
src/assets/music/wrong.mp3
src/icons/687.png
src/icons/avatar.png
src/icons/before.avif
src/icons/bgselect1.jpg
src/icons/bgselect2.jpg
src/icons/bgselect3.png
src/icons/bgselect4.png
src/icons/boom1.png
src/icons/boom2.png
src/icons/boom3.png
src/icons/cdalao.avif
src/icons/dollar.png
src/icons/ezback.png
src/icons/ezbg.mp4
src/icons/flower1.png
src/icons/flower2.png
src/icons/hardbg.mp4
src/icons/hdback.png
src/icons/keli.png
src/icons/login_background.png
src/icons/menjiang.png
src/icons/op1.png
src/icons/opex1.png
src/icons/selectleft.jpg
src/icons/target.png
src/icons/abc/A.png
src/icons/abc/AA.png
src/icons/abc/AB.png
src/icons/abc/AC.png
src/icons/abc/AD.png
src/icons/abc/B.png
src/icons/abc/C.png
src/icons/abc/D.png
src/icons/abc/E.png
src/icons/abc/F.png
src/icons/abc/G.png
src/icons/abc/H.png
src/icons/abc/I.png
src/icons/abc/J.png
src/icons/abc/K.png
src/icons/abc/L.png
src/icons/abc/M.png
src/icons/abc/N.png
src/icons/abc/O.png
src/icons/abc/P.png
src/icons/abc/Q.png
src/icons/abc/R.png
src/icons/abc/S.png
src/icons/abc/T.png
src/icons/abc/U.png
src/icons/abc/V.png
src/icons/abc/W.png
src/icons/abc/X.png
src/icons/abc/Y.png
src/icons/abc/Z.png
src/music/陈致逸,HOYO-MiX - 风所爱之城 The City Favored By Wind.flac
src/music/花玲,张安琪,沐霏 - 我不曾忘记.flac
src/music/苏熠鸣 - 原神，启动（门酱版）.flac
src/music/知更鸟,HOYO-MiX,Chevy - 希望有羽毛和翅膀.flac
src/music/bg_select.flac
src/music/bg1.flac
src/music/Dreamssg - 原神登陆页面BGM.flac
src/music/ez1.flac
src/music/hd1.flac
src/music/hellokeli.mp3
src/music/right.mp3
src/music/select.wav
src/music/wrong.mp3
.gitignore
src/components/anime.vue
src/assets/vue.svg
.vscode/extensions.json
.gitignore
